.about {
    padding: 120px 0 60px 0;

    // .about__grid

    &__grid {
        display: grid;
        grid-template-columns: 400px 1fr;
        gap: 70px;
    }

    // .about__left

    &__left {}

    // .about__img

    &__img {
        width: 100%;
    }

    // .about__right

    &__right {}

    // .about__subtitle

    &__subtitle {
        margin-bottom: 6px;
    }

    // .about__title

    &__title {
        margin-bottom: 24px;
    }

    // .about__descr

    &__descr {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 40px;
    }

    // .about__skills

    &__skills {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 20px;
    }

    // .about__skill

    &__skill {
        display: flex;
        width: 260px;

    // .skill__img-wrapper

    &-img-wrapper {
        flex: 0 0 36px;
        height: 36px;
        padding: 6px;
        background-color: $elem;
        border-radius: 100%;
        margin-right: 22px;
    }

    // .skill__img

    &-img {
        width: 100%;
    }

    // .skill__title

    &-title {
        margin-bottom: 6px;
    }
    }
}

@media(max-width:1100px) {
    .about {
        &__skills {
            grid-template: 1fr / 1fr;
            justify-items: center;
        }

        &__skill {
            width: 100%;
        }
    }

}

@media(max-width:967px) {
    .about {
        &__grid {
            grid-template-columns: 1fr;
        }

        &__img {
            display: block;
            margin: 0 auto;
            width: 70%;
        }
        &__descr {
            text-align: justify;
        }

        &__skills {
            grid-template-columns: 1fr 1fr;
        }
        &__skill {
            &-text {
                text-align: justify;
            }
        }

    }
}
@media(max-width:768px){
    .about {
        &__img {
            width: 100%;
        }
    }
}

@media(max-width:576px) {
    .about {
        &__title {
            font-size: calc(25px + (36 - 25) * ((100vw - 320px) / (576 - 320)));
        }

        &__skills {
            grid-template-columns: 1fr;
        }
    }
}