.experience {
    padding: 60px 0;
    // .experience__subtitle

    &__subtitle {

    }

    // .experience__title

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }
    &__line {
        margin: 0 auto;
    }
    // .experience__useful

    &__useful {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 135px;
        padding: 0 34px;
    }

    // .experience__collumn

    &__collumn {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        padding-left: 50px;
    }

    // .experience__collumn-title

    &__collumn-title {
        position: relative;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        margin: 0;
        &::before {
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            background: $elem;
            left: -50px;
            top:50%;
            transform: translateY(-50%);
            border-radius: 100%;
        }
    }

    // .experience__item

    &__item {
        position: relative;
        padding-top: 45px;
        &::before {
            width: 2px;
            height: calc(100% + 8px);
            content: "";
            position: absolute;
            left: calc(-51px + (15px / 2));
            top: -8px;
            background: $text;
        }
    
    }

    // .experience__item-head

    &__item-head {
        position: relative;
        display: flex;
        gap: 20px;
        &::before {
            position: absolute;
            content: "";
            height: 2px;
            width: calc(50px - (15px / 2));
            background: $text;
            left: calc(-50px + (15px / 2));
            top: calc(36px / 2);
        }
    }

    // .experience__item-icon

    &__item-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 36px;
        height: 36px;
        padding: 5px;
        border-radius: 100%;
        background:$elem;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    // .experience__item-title

    &__item-title {
        margin-bottom: 0;
    }

    // .experience__item-location

    &__item-location {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 12px;
    }

    // .experience__item-body

    &__item-body {
        text-align: justify;
    }
    @media(max-width:1200px){
        padding-top: calc(30px + (60 - 30) * ((100vw - 320px) / (1200 - 320)));
        padding-bottom: calc(30px + (60 - 30) * ((100vw - 320px) / (1200 - 320)));
        &__title {
            font-size: calc(25px + (36 - 25) * ((100vw - 320px) / (1200 - 320)));
            line-height: calc(50px + (60 - 50) * ((100vw - 320px) / (1200 - 320)));
            margin-bottom: calc(10px + (25 - 10) * ((100vw - 320px) / (1200 - 320)));
        }

        &__useful {
            gap: calc(50px + (135 - 50) * ((100vw - 768px) / (1200 - 768)));
        }        
    }
    @media(max-width:767px){  
        &__useful {
        grid-template-columns: 1fr;
        }
        &__collumn {
            margin-top: calc(20px + (60 - 20) * ((100vw - 320px) / (767 - 320)));
        }
    }
    @media(max-width:576px){
        &__useful {
            padding: 0;
        }
    }


}
