.promo {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background:url('../img/promo_bg.jpg') center (center/cover) no-repeat;
    padding: 30vh 0;

    // .promo__social

    &__social {
        position: fixed;
        left: calc(-140px + (140 * ((100vw - 1400px) / (1920 - 1400))));
        top: 50%;
        width: 420px;
        height: 38px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-shadow: 2px 2px 5px #000;
        transform: rotate(-90deg) translateY(-50%);   

        &-text {
            font-size: 20px;
            font-weight: 700;
        }
        &-sites {
            width: 140px;
        }
    
        &-line {
            width: 70px;
            height: 2px;
            margin: 0 15px;
            background-color: #fff;
            box-shadow: 2px 2px 5px #000;
        }
    }


    // .promo__subtitle

    &__subtitle {
        margin-bottom: 9px;
    }

    // .promo__title

    &__title {
        font-size: 48px;
        text-shadow: 2px 2px 5px #000;
        margin-bottom: 25px;
    }

    // .promo__buttons

    &__buttons {
        display: flex;
        align-items: center;
        gap: 44px;
    }
    &__link-button {
        width: 135px;
        height: 45px;
    }
    &__link {
        padding: 10px 0;
    }
    @media(max-width:1400px){
        &__social {
            display: none;
        }
    }
    @media(max-width:768px){
        &__title {
            // font-size: 48px;
            font-size: calc(25px + (48 - 20) * ((100vw - 320px) / (768 - 320)));
            line-height: calc(35px + (60 - 35) * ((100vw - 320px) / (768 - 320)));
        }
    }


}